

.flight-booking-header{


    width: 100%;
    text-align: center ;
}

.flight-booking-header h1{

   color: #6366f1;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.flight-booking-header img {

    width: 90vw;
    height: 60vh;
    border-radius: 50%;
    margin-bottom: 2rem;
}

/* form section */
.flight-booking-form-conta{
    
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        margin-bottom: 2rem;

}
.flight-booking-form{

    width: 50%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: #6366F1 2px solid;
    border-radius: 25px  25px  30px 50px;
}

.flight-booking-form select{


    padding: 0.7rem;
    margin: 0.1rem;
    border: 1px solid #6366f1;
    border-radius: 5px;
    outline: none ;
}



.flight-booking-form button{
        text-align: center;
        width: 30%;
        padding: 0.5rem;
        margin: 1rem;
        outline: none;
        cursor: pointer;

}


/* explore section */
.explor-sec h2{
    color: #6366f1;
    font-weight: 600;

}

.places {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 35px;
    
}

.places .places-info {
    bottom: 15px;
    left: 15px;
    right: 15px;
    border-radius: 5px;
    transform: translate3d(0px, 0%, 0px);
    transition: all 800ms ease 0.35s;
    padding: 25px 30px;
    box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1);
    background: #ffffff;
    position: absolute;
    border-radius: 25px;
}

.places .places-overlay {
    left: 15px;
    right: 15px;
    opacity: 1;
    padding: 0 20px;
    position: absolute;
    top: 15px;
    bottom: 15px;
    transform: translate3d(0px, -110%, 0px);
    transition: all 700ms ease 0.35s;
    box-shadow: 0px 5px 24.25px 0.75px rgba(0,0,0,0.1)
}

.places:hover .places-overlay {
    transform: translate3d(0px, 0, 0px);
    transition-delay: 0.1s;
    background: #6366F1;
    border-radius: 5px
}

.places:hover .places-info {
    transform: translate3d(0px, 130px, 0px);
    transition-delay: 0.2s
}



.places-bg-shape img {
    position: absolute;
    top: -40px;
    right: -40px;
    z-index: 0;
    
}

.fixed-size-img {
    width: 30vw; 
    height: 70vh;
    object-fit: cover;

  }

  .contactSec{
    margin-left: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }

    .contactSec h1{
        color: #6366f1;
        font-weight: 600;
    }
  .contact-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

@media screen and (max-width: 991px) {
    .places .places-info {
        padding:20px
    }
}





