

.flight-booking-header{


    width: 100%;
    text-align: center ;
}

.flight-booking-header h1{

   color: #6366f1;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.flight-booking-header img {

    width: 90vw;
    height: 60vh;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.flight-booking-form{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flight-booking-form input{

    width: 90%;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #6366f1;
    border-radius: 5px;
    outline: none;
}

.recommendation-container{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recommendation-card{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
