.signMain {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .backVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.formContainer {
    background: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6366F1
  }
  
  main h1 {
    margin-bottom: 1.5rem;
  }
  

  
 main form {
    display: flex;
    flex-direction: column;
  }

  form div {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #6366F1;
  }
  
 main input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  main button {
    margin-left: 70px;
    width: 50%;
    padding: 0.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
  }


  .icon {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .formContainer p {
    margin-top: 0.7rem;
  }

  .message{
    color: red;
    font-size: 0.8rem;
  }

  /* @media (max-width: 768px) {} */

  /* for Mobile */
  @media (max-width: 480px)  {
    .formContainer {
        width: 90vw;
    }
  }